/* ===== SAFETY SERVICE CARD LIST ===== */

.safety-card-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
}

/* Dark Overlay */
.safety-card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: 1;
}

/* LEFT CONTENT */
.safety-card-content {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 50px;
  margin-top: 3rem;
  max-width: 60%;
}

.safety-card-heading {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 12px;
}

.safety-card-para {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}

.safety-card-link {
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.safety-card-link:hover {
  color: var(--primary-color);
  transform: translateX(5px);
}

/* COUNTS */
.safety-card-count {
  display: flex;
  gap: 5rem;
  margin-top: 30px;
}

.safety-count-box {
  text-align: center;
}

.safety-count-number {
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}

.safety-count-text {
  font-size: 16px;
  margin: 0;
}

/* RIGHT BLUR PANEL */
.safety-blur-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  backdrop-filter: blur(20px);
  border-left: 1px solid var(--black);
  z-index: 3;
  display: flex;
  justify-content: center;
}

.safety-project-list {
  margin-top: 2rem;
}

.safety-project-heading {
  font-size: 34px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 1rem;
  text-align: center;
}

.safety-project-item {
  margin-top: 2rem;
}

.safety-project-link {
  font-size: 12px;
  color: var(--white);
  text-decoration: none;
}

.safety-project-link:hover {
  color: var(--primary-color);
  transform: translateX(5px);
}

.safety-card-icon {
  margin-left: 10px;
}

/* ===== MOBILE ===== */
@media (max-width: 786px) {
  .safety-card-container {
    height: auto;
    padding-bottom: 2rem;
  }

  .safety-card-content {
    position: relative;
    max-width: 100%;
    padding: 30px;
    margin-top: 0;
  }

  .safety-card-heading {
    font-size: 30px;
  }

  .safety-card-para {
    font-size: 14px;
  }

  .safety-card-count {
    gap: 2rem;
  }

  .safety-count-number {
    font-size: 35px;
  }

  .safety-blur-panel {
    display: none;
  }
}
