.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

/* Rotating container like spinner */
.spinner-container {
  width: 120px;
  height: 120px;
  border: 7px solid #e5e5e5;
  border-top-color: hsl(211, 96%, 31%); /* your theme color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: spin 1s linear infinite;
}

/* Logo inside spinner */
.spinner-logo {
  width: 60px; /* adjust size */
  height: 60px;
  object-fit: contain;
  /* border-radius: 50%; */
}

/* Spin animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
